// Here lies the color variable

$color-primary: #1e544b;
$color-secondary: #6b5e7b;
$color-tertiary: #d5e7e6;
$color-white: white;
$color-grey-light: #666666;
$color-grey-dark: #555555;
$color-grey-shadow: #dbdbdb;
$color-text-primary: #393e46;
$color-background: #f7f7f7;
